#nombre{
    font-weight: bold;
    color: #2d2b97;
}

span {
    color: #0d0c42;
}

h3 {
    margin: 5px;
}

.cuerpoOpcionesUsuario {
    height: fit-content;
    width: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: left;
    border: 1px solid #000;
    border-radius: 6px;
    padding: 40px;
    background: #93AC98;
    transition: 0.2s;
}

.filaDoble {
    display: grid;
    grid-template-columns: 1fr 0.2fr;
    gap: 20px;
    border-bottom: 2px dotted #00000080;
    margin-top: 5px;
    padding-bottom: 5px;
}

.editar {
    padding: 10%;
    margin: 0;
    width: fit-content;
    height: fit-content;
}

.swal2-styled:hover {
    color: #F7B05B;
}

.negrita{
    font-weight: bold;
}

.primerBoton{
    margin-top: 50%;
}

.filaDobleBotones {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 5px;
    margin-top: 15px;
    border-bottom: 2px dotted #000;
}

.botoneEliminar{
    margin-top: 20px;
    margin-left: auto;
}